<form>
  <div>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput type="text" placeholder="Nome"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="Email"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Hoble</mat-label>
      <mat-select>
        <mat-option *ngFor="let hoble of hobles" [value]="hoble">{{hoble}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-button color="primary">Salvar</button>
  </div>
</form>
